.host {
    display: flex;
    align-items: center;

    & + & {
        margin-top: 8px;
    }
}

.todo {
    flex: 1;
    padding: 8px 16px;
    border: 1px solid gray;
    border-radius: 4px;

    &:hover {
        background-color: rgba(#1890ff, 0.1);
    }
}

.margin {
    margin-left: 10px;
}

.done {
    composes: margin;
}

.delete {
    composes: margin;
    color: #ff250a;
    cursor: pointer;
    margin-left: 10px;
}
